body{
  background-color: rgb(185, 185, 145);
  display: block;
}

.maintext{
  background-color: green;
  color: bisque;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.subtext{
  background-color: rgb(58, 133, 58);
  color: bisque;
  text-align: center;
  width: max-content;
  margin: 2% auto;
}

#basic{
  background-color:  rgb(112, 209, 209);
  margin: 0 auto;
  height: max-content;
  width: 95%;
  display: grid;
}

.traning{
  color: red;
  margin: 0 auto 0 2%;
}

.traning-content{
  color: black;
  margin: 0 auto 0 2%;
}

.training-procedure{
  color: black;
  margin: 0 auto 0 5%;
}

#basic-start-div{
  margin: 5% auto;
  height: max-content;
  position: relative;
  display: grid;
}

#basic-img{
  width: 90%;
  height: 90%;
  margin: 1% auto;
}

.start-button{
  background-color: orange;
  font-weight: bold;
  font-size: 130%;
  color: blue;
  width: max-content;
  margin: 2% auto;
}

#basic-ans-div{
  display: flex;
  margin: 0 auto;
}

label{
  font-weight: bold;
  font-size: 120%;
  margin: auto 0;
}

.answer-text{
  height: 1.2em;
  font-size: 120%;
  width: 50%;
  text-align: center;
  margin: auto 0;
}

.answer-button{
  height: 2em;
  margin: auto 1%;
  font-size: 120%;
  font-weight: 800;
  color: red;
}

.output{
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 200%;
  color: red;
  font-weight: 800;
}

#advance{
  background-color: rgb(82, 233, 114);
  margin: 2% auto;
  height: max-content;
  width: 95%;
  display: grid;
}

#advance-start-div{
  background-color: aquamarine;
  margin: 5% auto;
  height: max-content;
  position: relative;
  display: grid;
}

#input-start-advance{
  text-align: center;
  width: 2.5em;
  height: 1.2em;
  font-size: 500%;
  font-weight: 800;
  margin: 1% auto;
}

#advance-ans-div{
  display: flex;
  margin: 0 auto;
}

#trance-div{
  background-color: rgb(223, 233, 82);
  margin: 2% auto 5% auto;
  height: max-content;
  width: 95%;
  display: grid;
}

.trance-class{
  margin: 0 auto 0 5%;
}

#trance-textarea{
  display: flex;
}

#kana-input{
  width: 80%;
  margin: auto;
  text-align: left;
}

#trance-button-div{
  display: flex;
  margin: 1% auto;
}

#text-trance{
  height: 2em;
  margin: auto 1%;
  font-size: 120%;
  font-weight: 800;
  color: red;
}

#trance-output{
  height: auto;
  margin: auto 2% 1em 5%;
  text-align: left;
  font-size: 100%;
  font-weight: 600;
}
